# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/nicole-trend-shop

# Server
PORT=3001

# Para MongoDB Atlas (remoto), usa:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/nicole-trend-shop